html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  line-height: 1.5;
  align-items: center;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #79756f;
  text-align: center;
  margin: 0;
  border-top: 3px solid #595652;
  border-bottom: 3px solid #595652;
}

h1 {
  font-family: Bevan, serif;
  color: #fff;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: .3em;
}

ul li {
  display: inline-block;
}

a:link, a:visited {
  font-family: sans-serif;
  background-color: #713837;
  color: white;
  padding: .6em .5em .75em;
  text-align: center;
  display: inline-block;
  border-radius: 3px;
  margin: .05em;
  text-decoration: none;
}

a:hover, a:active {
  background-color: #f33;
  border: 1px solid #f33;
}
